:root {
    --v-color: #FFFFFF;
    --v-btn-color: #E0E0E0;
    --v-primary-color: #1267B4;
    --v-error-color: #d13438;
    --v-success-color: #28a745;
    --v-spacing-sm: 8px;
    --v-radius: 6px;
}