$shadow: (
    shadow:0 0 2px rgba(0, 0, 0, 0.12) 0 1px 2px rgba(0, 0, 0, 0.14),
    shadow1:0 0 2px rgba(0, 0, 0, 0.12) 0 2px 4px rgba(0, 0, 0, 0.14),
    shadow2:0 0 2px rgba(0, 0, 0, 0.12) 0 4px 8px rgba(0, 0, 0, 0.14),
    shadow3:0 0 2px rgba(0, 0, 0, 0.12) 0 8px 16px rgba(0, 0, 0, 0.14),
    shadow4:0 0 8px rgba(0, 0, 0, 0.12) 0 14px 28px rgba(0, 0, 0, 0.14),
    shadow5:0 0 8px rgba(0, 0, 0, 0.12) 0 32px 64px rgba(0, 0, 0, 0.14),
);

@each $name,
$size in $shadow {
    .d-#{$name} {
        box-shadow: $size;
    }
}