.D_Card {
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.14);
    ;
    min-width: 500px;
    box-sizing: border-box;
    padding: 14px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;

}