.D_List_Item {

    height: 40px;
    display: flex;
    align-items: center;
    transition: .3s;
    box-sizing: border-box;
    padding: 0px 8px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;

    &:hover {
        background: rgba(0, 0, 0, .1);
    }

    .D_List_Item_Tag {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 700;
        .D_List_Item_Tag_Title{
            text-indent: 40px;
        }
    }
}