.D_Select {
    .D_Select_Box{
        border: 1px #ccc solid;
        width: 200px;
        height: 30px;
        line-height: 30px;
        padding: 0px 5px;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .D_Select_Box_Title{
            font-size: 12px;
            color: white;

        }
    }
}