.D_Menu {
    position: relative;

    .D_Menu_Activator {}

    .Menu_Ref {
        opacity: 1;

    }

    .D_Menu_Main {
        position: absolute;
        width: 0px !important;
        height: 0px !important;
        transform: translateX(-100%);
        transition: .2s ease;
        overflow: hidden;
        opacity: 0 !important;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.14);
        ;
    }

    .D_Menu_Main_Hover {
        width: 100% !important;
        height: 100% !important;
        opacity: 1 !important;
    }
}