.D_List {
    padding: 5px 0px;
    width: 200px;
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.14);
    ;
}
.D_list_Nav{
    box-sizing: border-box;
    padding: 5px;
}