.D_Dialog {

    .D_Dialog_Model {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%) scale(0);
        transition: .3s;
    }

    .D_Dialog_Mask {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .3);
        z-index: 1;
        display: none;
    }
}

.D_Dialog_Activie {
    .D_Dialog_Model {
        transform: translate(-50%, -50%) scale(1);
    }

    .D_Dialog_Mask {
        display: flex;
    }
}