.D_Chip {
    display: inline-flex;
    align-items: center;
    height: 20px;
    border-radius: 4px;
    justify-content: space-between;
    border: 1px #ccc solid;
    font-size: 10px;
    padding: 0px 5px;
    color: #ccc;
}